# files
settings.py
credentials.py
test.py
TODOs.txt
snippets/gist-comments.md

# extensions
*.csv
snippets/*.txt

# folders
**/.ipynb_checkpoints
*.ipynb_checkpoints
.ipynb_checkpoints/*
.venv/*
.logs/*
.vscode/*
data/*
experiments/*
snippets/data/*



